<div id="brands" class="brands">
    <div class="brands-h1">
        <h1>Brands</h1>
    </div>
    <p>Magnam ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui
        impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    <div class="brand-all">
        <img src="./assets/image/brand/p5.png" alt="">
        <img src="./assets/image/brand/p6.png" alt="">
        <img src="./assets/image/brand/p7.png" alt="">
    </div>
</div>
