<div  id="Contact" class="contact">
    <div class="contact-h1">
        <h1>CONTACT</h1>
    </div>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
        in iste officiis commodi quidem hic quas.</p>
    <div class="row">
        <div class="contact-img">
            <img src="./image/contact/p9.png" alt="">
        </div>
        <!-- <div class="con-form">
            <table>
                <tr>
                    <td><label class="a1111"> Your Name</label> </td>
                    <td>Your Email</td>
                </tr>
                <tr>
                    <td><input type="text" ></td>
                    <td><input type="email" ></td>
                    </tr>
                    <tr>
                    <td colspan="2"> Your Message</td>
                </tr>
                <tr>
                    <td colspan="2"> <textarea name="" id="" cols="30" rows="10"></textarea></td>
                </tr>
            </table>
        </div> -->
        <div class="contact-form">
            <div class="row1">
                <div class="name">
                    <label for="">Your Name</label><br>
                    <input type="text" size="30">
                </div>
                <div class="email">
                    <label for="">Your Email</label><br>
                    <input type="text">
                </div>
            </div>
            <div class="message">
                <label for="">Your Message</label><br>
                                    <textarea cols="70" rows="10"></textarea>
                                    <button>Send Message</button>
            </div>
        </div>
    </div>
</div>
<div class="last-sec">
<h3>Our Social Networks</h3>
<p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
<div class="contactIcon">
   <a href="#"> <i class="fa-brands fa-twitter"></i>  </a>
   <a href="#"> <i class="fa-brands fa-facebook"></i></a>
   <a href="#"> <i class="fa-brands fa-instagram"></i></a>
   <a href="#"> <i class="fa-brands fa-skype"></i></a>
   <a href="#"> <i class="fa-brands fa-linkedin-in"></i></a>
</div>
</div>
