<div id="using" class="third-section">
    <div class="third-section-h1">
        <h1>HOW TO USE ?</h1>
    </div>
    <div class="row">
        <div class="thirh-sec-img">
            <img src="./assets/image/use.png" alt="">
        </div>
        <div class="thirh-sec-info">
            <p>
                Simply, you can show your “Shukran” membership card when you purchase any of the products or
                services offered through stores or brands contracted with us to get your offers or discount</p>
            <a> <i class="fa-solid fa-caret-right"></i> Get App Now</a>
        </div>
    </div>

</div>