<div class="header">
    <div class="row">
        <div class="left">
            <p>© Copyright Shokran. All Rights Reserved<br>
                Call: +02 01033501287 01033564782 02-27410570<br>
                Location: 38th EL-kordy st , new fostat Cairo Egypt</p>
        </div>
        <div class="right">
            <p class="email-p">Email:<br>
                support@shokranegypt.com <br>sales@shokranegypt.com marketing@shokranegypt.com</p><br>
                <p>Designed by    </p><a href="#">Mohamed Asharf</a>
        </div>
    </div>
</div>
<a href="#firstsection"> <i class="fa-solid fa-arrow-up-long  gotohome "></i></a>
