<div id="CATOGORIES" class="cover-CATEGORIES">
    <div class="CATEGORIES">
        <div class="CATEGORIES-h1">
            <h1>CATEGORIES</h1>
        </div>
        <div class="row">
            <div class="category-img ">
                <img src="./assets/image/p2.png">
                <div class="category-img-a"><a href="#">النقل</a>
                </div>
            </div>
            <div class="category-img ">
                <img src="./assets/image/p1.png">
                <div class="category-img-a"><a href="#">الخدمات</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p7.png">
                <div class="category-img-a"><a href="#">المقهى</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p5.png">
                <div class="category-img-a"><a href="#">المطاعم</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p4.png">
                <div class="category-img-a"><a href="#">السفر</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p3.png">
                <div class="category-img-a"><a href="#">الجمال</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p8.png">
                <div class="category-img-a"><a href="#">الطب</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p9.png">
                <div class="category-img-a"><a href="#">الترفيه</a>
                </div>

            </div>
            <div class="category-img ">
                <img src="./assets/image/p6.png">
                <div class="category-img-a"><a href="#">التعليم</a>
                </div>

            </div>

        </div>
    </div>
</div>
